<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.9.1" targetFramework="net451" allowedVersions="[4.9.1]" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" allowedVersions="[10.0.3]" />
  <package id="Protractor" version="0.11.0" targetFramework="net451" allowedVersions="[0.11.0]" />
  <package id="Selenium.Support" version="3.7.0" targetFramework="net451" allowedVersions="[3.7.0]" />
  <package id="Selenium.WebDriver" version="3.7.0" targetFramework="net451" allowedVersions="[3.7.0]" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.37.0" targetFramework="net451" allowedVersions="[2.37.0]" />
  <package id="SpecFlow" version="2.3.1" targetFramework="net451" allowedVersions="[2.3.1]" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net451"  allowedVersions="[4.3.0]"/>
</packages>